
*{
    box-sizing: border-box;
}
.shopping{
    width: 100%;
    min-height: 90vh;

    & .header{
        width: 100%;
        padding: 1vh;
        background: linear-gradient(rgba(62, 60, 60, 0.411),rgba(0, 128, 128, 0.395));
        text-align: center;
        position: sticky;
        top: 0px;
    }

    & .container{
        width: 100%;
        min-height: 90vh;
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 4vh;
        row-gap: 2vh;        
        background: rgba(0, 128, 128, 0.355);

        & .card{            
            margin-top: 2vh;
            min-height: 20vh;
            background:  linear-gradient(rgba(0, 128, 128, 0.582), gray);
            margin: 2vh;
            border-radius: 2vh;
            opacity: 0.9;
            box-shadow: 2px 2px 3px 2px black;

            & .images{
                width: 100%;
                display: grid;
                justify-content: center;
                align-items: center; 
                  margin: 2vh auto;
                            

                & img{
                    width: 15vw;
                    height: 30vh;
                     margin: auto;   
                                     
                }
            }
            & .title{
                width: 100%;
                text-align: center;
                font-size: 4vh;
                font-weight: bold;
                
            }
            & .brand-div{
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                margin-top: 2vh;

                & div{
                    
                    padding: 2vh;
                    background: linear-gradient(rgba(62, 60, 60, 0.411),rgba(0, 128, 128, 0.395));
                    color: white;
                    border-radius: 1vh;
                    margin: auto;
                    font-size: 3vh;
                }

            }
            
            & .description{
                padding: 2vh;
                font-size: 2.5vh;
            }

            & .price-div{
                width: 100%;
                display: flex;
                justify-content: end;

                & .price{
                    
                    padding: 2vh;
                    background: teal;
                    color: white;
                    border-radius: 1vh;
                    font-size: 3.5vh;
                    margin: 2vh;
                }

                & .price:hover{
                    background:  rgb(216, 214, 214);
                    color: teal;

                }

            }
        }
        }
        & .card:hover{
             box-shadow:inset 2px 2px 5px 4px black;
        }
    }


@media screen and (max-width:1100px) and (min-width:840px) {
.shopping{

    & .container{
        grid-template-columns: auto auto ;
        column-gap: 2vh;

        & .card{            

            & .images{
                  margin: 2vh auto;
                            

                & img{
                    width: 25vw;
                    height: 20vh;
                     margin: auto;   
                                     
                }
            }
           
            & .brand-div{

                & div{
                    
                    font-size: 3vh;
                }

            }
          

            & .price-div{

                & .price{
                    
                    font-size: 3vh;
                }
            }
        }
        }

    }
}

@media (max-width: 839px) and (min-width:460px) {
    .shopping{

    & .container{
        grid-template-columns: auto  ;
        column-gap: 2vh;

        & .card{ 

            margin: 2vh 12vh;         

            & .images{
                  margin: 2vh auto;
                            

                & img{
                    width: 30vw;
                    height: 20vh;
                     margin: auto;   
                                     
                }
            }
           
            & .brand-div{

                & div{
                    
                    font-size: 3vh;
                }

            }
          

            & .price-div{

                & .price{
                    
                    font-size: 3vh;
                }
            }
        }
        }

    }
  
}

@media (max-width: 459px) and (min-width:300px) {
 .shopping{

    & .container{
        grid-template-columns: auto  ;
        column-gap: 2vh;

        & .card{   
            margin: 2vh 6vh;         

            & .images{
                  margin: 2vh auto;
                            

                & img{
                    width: 30vw;
                    height: 20vh;
                     margin: auto;   
                                     
                }
            }
           
            & .brand-div{

                & div{
                    
                    font-size: 3vh;
                    margin: 2vh;
                }

            }
          

            & .price-div{

                & .price{
                    
                    font-size: 3vh;
                }
            }
        }
        }

    }

}